@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body, button, html, input, select, textarea {
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2F3C4C;
  color: #D4D4ED;
  width: 80%;
  margin: auto;
}

h1 {
    color: #EA9AA2;
}

h3 {
  color:#a4a4ea;
}
.color-one {
    color: #FA9F42;
}

.block {
  border-radius: 5px;
  background-color: #FA9F42;
  height: 325px;
}

.block-text {
/*   background-color: #FA9F42; */
  color: #5a6e87;
  text-align: auto;
}

.btn {
  width:100%;
  color:#D4D4ED;
  background-color: #2F3C4C;
}

.img_b {
/*  width:100%;*/
  height:60px;
  color:#D4D4ED;
  background-color: #2F3C4C;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

img {
  width:100%;
}

.quiz {
  background-color: #D4D4ED;
  color:#5a6e87;
  margin: auto;
}

.ppt {
  border: #D4D4ED;
  border-radius: 5px;
/*   width: 100%; */
  height: 500px;
  margin: auto;
}

.ani_move1{
    display: block;
    position: relative;

    /* animation 參數設定 */
    animation-name: Move1;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;    /*動畫持續時間，單位為秒*/
    animation-delay: 2s;     /*動畫延遲開始時間*/
    animation: 1s Move1 forwards;
 /*   animation-iteration-count: infinite; */   /*動畫次數，infinite 為無限次*/  
}
@keyframes Move1{
	0% {transform: translate(0, 0);}
	100% {transform: translate(400px, 130px);}
}

.ani_move2{
    display: block;
    position: relative;

    /* animation 參數設定 */
    animation-name: Move2;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;    /*動畫持續時間，單位為秒*/
    animation-delay: 2s;     /*動畫延遲開始時間*/
    animation: 1s Move2 forwards;
 /*   animation-iteration-count: infinite; */   /*動畫次數，infinite 為無限次*/  
}
@keyframes Move2{
	0% {transform: translate(0, 0);}
	100% {transform: translate(400px, 130px);}
}

.material {
  background-color: #5a6e87;
  border-radius: 50%;
  width : 100px;
  height: 100px;
}

.cam_move{
    display: block;
    /* animation 參數設定 */
    animation-name: cam;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 3s;    /*動畫持續時間，單位為秒*/
    animation-delay: 1s;     /*動畫延遲開始時間*/
 /*   animation-iteration-count: infinite; */   /*動畫次數，infinite 為無限次*/ 
}

@keyframes cam{
	0% {transform: translate(0, 0);}
  35% {transform: translate(480px, 30px) scale(4)}
  40% {transform: translate(480px, 30px) scale(4) rotate(-30deg)}
  40% {box-shadow: 0px 0px 50px 10px #eeff00}
  45% {transform: translate(480px, 30px) scale(4) rotate(24deg)}
  45% {box-shadow: 0px 0px 50px 10px #eeff00}
  50% {transform: translate(480px, 30px) scale(4) rotate(-24deg)}
  50% {box-shadow: 0px 0px 50px 10px #eeff00}
  65% {transform: translate(480px, 30px) scale(4) rotate(24deg)}
  100% {transform: scale(1);}
}

.icon{
  height: 50px;
  width: 50px;
}