{% extends 'base.html' %}
{%- set site_title = 'Universal Explorer' -%}
{%- set html_title = 'Goal'-%}

{% block content %}
    <br><br>
    <h1 class="text-center mt-3">{{ html_title }}</h1>
    <hr>
    <div class="row">
      <div class="material col-2">
        <div class="cam_move">
          <img src="/static/stars.png" class="mt-2" width="75" height="75" alt="">
        </div>
      </div>
      <div class="col-10">
        <h5 class="color-one">Start oooout! </h5>
        <p>We need a camera to capture the splendid astronomical phenomena. Please design a perfect machine to help us record our journey. </p>
      </div>
    </div>
    <br><br><br><br><br><br>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="100000">
          <img src="/static/goal-info/1.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item" data-bs-interval="100000">
          <img src="/static/goal-info/2.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item" data-bs-interval="100000">
          <img src="/static/goal-info/3.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item" data-bs-interval="100000">
          <img src="/static/goal-info/4.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item" data-bs-interval="100000">
          <img src="/static/goal-info/5.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item" data-bs-interval="100000">
          <img src="/static/goal-info/6.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item" data-bs-interval="100000">
          <img src="/static/goal-info/7.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item" data-bs-interval="100000">
          <img src="/static/goal-info/8.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item" data-bs-interval="100000">
          <img src="/static/goal-info/9.png" class="d-block w-100" width="100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr>
    <a href="/quiz01" class="btn quiz" >Collect Items for us</a>
{% endblock %}