{% extends 'base.html' %}
{%- set site_title = 'Universal Explorer' -%}
{%- set html_title = 'Before the Launch'-%}

{% block content %}
    <br><br>
    <h1 class="text-center mt-3">{{ html_title }}</h1>
    <hr>
    
    <div class="container">
      <br>
      <h5>Hi there, we are Universal Explorer. In an attempt to unveal the mystery of the power source in the solar system, we invite you to build Parker solar probe. Before the spacecraft is launched, there are some materials need to be collected. Let's get started!</h5>
      <br>
      <div class="row text-center btn-block">
        <div class="col-lg-4">
          <div class="card block">
            <img src="/static/parker.jpg" width="400">
            <div class="card-body">
              <h5 class="block-text">Goal</h5>
              <a href="/story1" class="btn">Let's Go</a>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4">
          <div class="card block">
            <img src="/static/parker2.jpg" width="400">
            <div class="card-body">
              <h5 class="block-text">Travel with Parker</h5>
              <a href="/story2" class="btn disabled">Let's Go</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card block">
            <img src="/static/parker.jpg" width="400">
            <div class="card-body">
              <h5 class="block-text">Travel with Parker</h5>
              <a href="/story3" class="btn disabled">Let's Go</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

{% endblock %}