{% extends 'base.html' %}
{%- set site_title = 'Universal Explorer' -%}
{%- set html_title = 'Technology'-%}

{% block content %}
    <br><br>
    <h1 class="text-center mt-3">{{ html_title }}</h1>
    <hr>
    <div class="row">
      <div class="material col-2">
        <div class="cam_move">
          <img src="/static/solar-energy.png" class="mt-2" width="75" height="75" alt="">
        </div>
      </div>
      
      <div class="col-10">
        <h5 class="color-one">Congratulation! You got the solar array. </h5>
        <p>A solar array is a collection of multiple solar panels that generate electricity as a system. The most important part of a solar panel system is the solar array. It holds all of the panels in your system, which is where sunlight is collected and converted into electricity. </p>
        <p>One of the most outstanding and spectacular features that separates Parker from ordinary spacecraft is that it is the closest human-made object to the Sun. What made this possible? The answer is that Parker is equipped with a heat shield, foot faring, and conducting tables and antennas made of Niobium, all of which are extremely heat-resistant! </p>
        
      </div>
    </div>
    <br>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
      </div>
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/tech-info/16.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/tech-info/17.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/tech-info/18.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/tech-info/19.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/tech-info/20.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/tech-info/21.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/tech-info/22.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/tech-info/23.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/tech-info/24.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/tech-info/25.png" data-bs-interval="100000" class="d-block w-100" width="100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr>
    <a href="/quiz03" class="btn quiz" >Collect Items for us</a>
{% endblock %}