{% extends 'base.html' %}
{%- set site_title = 'Universal Explorer' -%}
{%- set html_title = 'Timeline'-%}

{% block content %}
    <br><br>
    <h1 class="text-center mt-3">{{ html_title }}</h1>
    <hr>
    <div class="row">
      <div class="material col-2">
        <img src="/static/camera.png" class="mt-2" width="75" height="75" alt="">
      </div>
      
      <div class="col-10">
        <h5 class="color-one">Congratulation! You got WISPR Camera. </h5>
        <p>WISPR is the onboard Wide-builder Imager for Parker Solar Probe. 
          The images, combined into a video, reveal a faint glow from the surface that shows distinctive features like continental regions, plains, and plateaus.The experiment will also provide images of the solar wind, shocks and other structures as they approach and pass the spacecraft. </p>
        <p>A solar array is a collection of multiple solar panels that generate electricity as a system. 
The most important part of a solar panel system is the solar array. It holds all of the panels in your system, which is where sunlight is collected and converted into electricity. Here are some common questions to ask yourself before installing a solar panel system on your home, and to make sure you get the most productive array possible.</p>
      </div>
    </div>
    <br>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/timeline-info/10.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/timeline-info/11.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/timeline-info/12.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/timeline-info/13.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/timeline-info/14.png" class="d-block w-100" width="100">
        </div>
        <div class="carousel-item">
          <img src="/static/timeline-info/15.png" class="d-block w-100" width="100">
        </div>
      </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr>
    <a href="/quiz02" class="btn quiz" >Collect Items for us</a>
{% endblock %}